@model BlogIt.Web.Models.BlogDetailViewModel

@{
    ViewBag.Title = Model.Blog.Name;
}

<script>
    $(function () {
        blog.registerNewPostEvent();
        blog.registerSaveCommentEvent();
    });
</script>

<div class="container-fluid">
    <h1 class="page-header">@ViewBag.Title</h1>

    <input type="hidden" id="blogID" name="BlogID" value="@Model.Blog.ID" />

    <div class="row">
        <div class="col-sm-8 blog-main">
            @foreach (var post in Model.Blog.Posts)
            {
                <div class="blog-post">
                    <input type="hidden" name="PostID" value="@post.ID" />
                    <input type="hidden" name="AuthorID" value="@post.AuthorID" />

                    <h2 class="blog-post-title">@post.Title</h2>
                    <p class="blog-post-meta">@post.Date.ToShortDateString() @post.Date.ToShortTimeString() by <a href="@Url.Action("Index", "Author")">@post.Author.Name</a></p>

                    <p>@post.Content</p>

                    <br />

                    <div>
                        @foreach (var comment in post.Comments)
                        {
                            @Html.Partial("NewComment", comment);
                        }
                    </div>

                    <textarea class="blog-comment width-50" rows="3"></textarea>
                    <ul class="pager">
                        <li>
                            <a href="@Url.HttpRouteUrl("Comments", new { })" data-partial-url="@Url.Action("NewComment", "Comment")">Comment</a>
                        </li>
                    </ul>
                </div>
            }
        </div>

        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>@Model.Blog.Category</p>
            </div>

            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">April 2014</a></li>
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>Admin</h4>
                <ol class="list-unstyled">
                    <li>@Html.ActionLink("Create New Post...", "New", "Post", new { }, new { id = "newPost" })</li>
                </ol>
            </div>
        </div>
    </div>
</div>
