@model MyBlog.Domain.Entities.Author

@{
    ViewBag.Title = Model.ID == Guid.Empty ? "Add Author" : "Edit Author";
}

<script>
    $(function () {
        $('#save').click(function () {
            var id = $('#id').val();
            var url = '@Url.HttpRouteUrl("Authors", new { })';

            if (id == '00000000-0000-0000-0000-000000000000') {
                // New author
                $.post(
                    url,
                    {
                        ID: id,
                        Name: $('#name').val(),
                        Age: $('#age').val(),
                        City: $('#city').val(),
                        State: $('#state').val()
                    },
                    function () {
                        // Success
                        window.location.replace('@Url.Action("Index", "Author")');
                    }
                );
            }
            else {
                // Update to existing author
                $.ajax({
                    type: "PUT",
                    url: url + '/' + id,
                    data: {
                        Name: $('#name').val(),
                        Age: $('#age').val(),
                        City: $('#city').val(),
                        State: $('#state').val()
                    },
                    success: function () {
                        // Success
                        window.location.replace('@Url.Action("Index", "Author")');
                    }
                });
            }
        });
    });
</script>

<div class="container-fluid">
    <h1 class="page-header">@ViewBag.Title</h1>

    <input type="hidden" id="id" name="ID" value="@Model.ID" />

    <div class="row padding-8">
        <label class="col-md-2" for="Name">Name</label>
        <div class="col-md-10">
            <input type="text" class="text-box" id="name" name="Name" value="@Model.Name" />
        </div>
    </div>

    <div class="row padding-8">
        <label class="col-md-2" for="Age">Age</label>
        <div class="col-md-10">
            <input type="number" class="text-box" id="age" name="Age" value="@Model.Age" />
        </div>
    </div>

    <div class="row padding-8">
        <label class="col-md-2" for="City">City</label>
        <div class="col-md-10">
            <input type="text" class="text-box" id="city" name="City" value="@Model.City" />
        </div>
    </div>

    <div class="row padding-8">
        <label class="col-md-2" for="State">State</label>
        <div class="col-md-10">
            <input type="text" class="text-box" id="state" name="State" value="@Model.State" />
        </div>
    </div>

    <div class="row padding-8">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" id="save" value="Save" />&nbsp;
            <a href="@Url.Action("Index", "Author")" class="btn btn-default">Cancel</a>
        </div>
    </div>
</div>