@model MyBlog.Domain.Entities.Blog

@{
    ViewBag.Title = Model.Name;
}

<script>
    $(function () {
        RegisterBlogDetailEvents();
    });
</script>

<div class="container-fluid">
    <h1 class="page-header">@ViewBag.Title</h1>

    <div class="row">
        <div class="col-sm-8 blog-main">
            @foreach (var post in Model.Posts)
            {
                <div class="blog-post">
                    <h2 class="blog-post-title">@post.Title</h2>
                    <p class="blog-post-meta">@post.Date.ToShortDateString() by <a href="@Url.Action("Index", "Author")">@post.Author.Name</a></p>

                    <p>@post.Content</p>

                    <br />

                    @foreach (var comment in post.Comments)
                    {
                        <blockquote class="blog-comment">
                            (@comment.Date.ToShortDateString()) @comment.Author.Name said:<br />
                            @comment.Content
                        </blockquote>
                    }

                    <textarea class="blog-comment width-50" rows="3"></textarea>
                    <ul class="pager">
                        <li><a href="#">Comment</a></li>
                    </ul>
                </div>
            }

            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>

        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>@Model.Category</p>
            </div>

            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">April 2014</a></li>
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>Admin</h4>
                <ol class="list-unstyled">
                    <li>@Html.ActionLink("Create New Post...", "New", "Post", new { authorID = Guid.Empty, blogID = Model.ID }, new { })</li>
                </ol>
            </div>
        </div>
    </div>
</div>
